@media screen and (min-width:1000px) {
    intro-msg-container,
        .list-grid-icons,
        #comp-grid,
        #comp-list {
        margin: 0 auto;
        max-width: 1200px
    }


#comp-grid {
        display: grid;
        grid: auto/repeat(3, 1fr);
        gap: 15px
    }

.table-list {
  grid: auto/repeat(4, 1fr);
 }

}